/**
 * Globals.
 */

html, body {
	background:#FFFFEE;
	background-repeat: repeat-x;
	background-position:top;
	color:#800000;
	font-size:medium;
	margin: auto!important;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
a {
	text-decoration: none;
	color: #550;
}
a:hover {
	background: #fec;
	/*background:inherit;*/
	font-family:sans-serif;
}
.file_size a {
	text-decoration:underline;
}


/**
 * Header and footer.
 */

.adminbar {
	text-align:right;
	/*background:inherit;*/
	clear:both;
	float:right;
}
.logo {
	clear:both;
	text-align:center;
	/*background:inherit;*/
	font-size:24pt;
	color:#800000;
	width:100%;
}

.footer {
	text-align:center;
	font-size:10px;
	font-family:sans-serif;
}

/**
 * Posting mode: Reply header,
 */
 
 
.replymode {
	background:#E04000;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
.catalogmode {
	background:#0040E0;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}

/**
 * Posting form.
 */

.postarea {
	/*background:inherit;*/
}
#rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
#rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}
#posting_form label {
	background:#EEAA88;
	color:#800000;
	font-weight:800;
}
/**
 * Threads and posts
 */

table.uploads th {
 background:#EEAA88;
 color:#800000;
 font-weight:800;
}

.reply .post {
	background:#F0E0D6;
	color:#800000;
}


.subject {
	background:inherit;
	font-size:1.2em;
	color:#CC1105;
	font-weight:800;
}
.postername {
	color:#117743;
	font-weight:bold;
}


.file_size {
	text-decoration:none;
}

.file_size a:visited {
	text-decoration:underline;
}

.highlight .post {
	background:#F0E0D6;
	color:#800000;
	border: 2px dashed #EEAA88;
}

.omittedposts, .abbrev, .oldpost {
	color:#707070;
}

.oldpost {
	color:#CC1105;
	font-weight:800;
}

.doubledash {
	clear:both;
	float:left;
}
.replytitle {
	/*background:inherit;*/
	font-size:18px;
	font-family:sans-serif;
	color:#0F0C5D;
	font-weight:800;
}

.thumbnailmsg {
	font-size: small;
	color:#800000;
}

.quote {
	background:inherit;
	color:#789922;
}


/**
 * Misc. functions
 */

#watchedthreads {
	background-color: #F0E0D6 !important;
}

.reflinkpreview {
	background-color: #F0E0D6 !important;
}

