html, body {
	background: rgb(219,237,255);
	background: linear-gradient(180deg, rgba(219,237,255,1) 0%, rgba(234,244,254,1) 30%, rgba(255,255,255,1) 100%);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/* Landing page stuff */
.front-sitename h1 {
	color: #4da6ff;
	text-shadow: #1a8cff 1px 0 3px;
}
.front-slogan h2 {
	color: #80bfff;
	text-shadow: #4da6ff 1px 0 3px;
}
.front-footer {
	background-color: #dbedff;
	background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(230, 242, 255) 30%, rgb(219, 237, 255) 100%);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.front-site-info-wrapper {
	background-color: #cce6ff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.front-navbar button {
	background-color: #b3d7ff;
}
.front-recent-posts-posts {
	border-bottom: 1px solid #e6ebfa;
	background-color: #b3d7ff;
}
.front-recent-posts-posts:nth-of-type(even) {
	background-color: #fff;
}
.front-site-content-content h3 {
	font-weight: bold;
	background-color: #b3d7ff;
}
.front-site-content-content-switch-ns {
	background-color: #b3d7ff;
}
.front-site-content-content-switch-s {
	background-color: #cce6ff !important;
	border-style: groove !important;
	border-color: #b3d7ff !important;
	cursor: not-allowed !important;
}
.front-board-list {
	background-color: #cce6ff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	
}
.front-board-list-list-wrap {
	background-color: #b3d7ff;
}
.front-board-list-list li:hover {
	background-color: #80c1ff;
}
.fa-fire {
	color: #e9241d;
}
/* End landing page stuff */

/* Begin Board page stuff */
.board-posts-newpost-wrapper {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.board-posts-newpost {
	background-color: #b3d9ff;	
	box-shadow: 0px 8px 16px 0px rgb(255 255 255 / 20%)
}
.board-navigation {
	background-color: #dbedff;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.board-navigation-home button {
	background-color: #cce6ff;
}
.board-navigation-home button:hover {
	background-color: #b3d7ff;
	border-style: groove;
	border-color: #b3d7ff;
	cursor: pointer;
}
.board-navigation-style button {
	background-color: #cce6ff;
}
.board-navigation-style button:hover {
	background-color: #b3d7ff;
	border-style: groove;
	border-color: #b3d7ff;
	cursor: pointer;
}
.board-navigation-dropdown {
  background-color: #cce6ff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.board-navigation-dropdown a:hover {
	background-color: #b3d9ff
}
.board-navigation-section button {
	background-color: #cce6ff;
}
.board-navigation-section:hover button {
	background-color: #b3d7ff;
	border-style: groove;
	border-color: #b3d7ff;
	cursor: pointer;
}
.board-navigation-section:hover .board-navigation-dropdown {
	display: block;
}
.board-navigation-style:hover .board-navigation-dropdown {
	display: block;
}
.board-navigation-dropdown {
	background-color: #cce6ff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.board-navigation-dropdown a {
	color: #000;
}
/* End board navigation */
/* Begin Board posts */
.board-posts-thread {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.board-posts-thread-header {
	background-color: #99ccff;	
}
.board-posts-thread-post-message {
	background-color: #b3d9ff;	
}
/* End board posts */
/* Begin board footer */
.board-footer {
	background-color: #dbedff;
	box-shadow: 0px -3px 3px rgb(0 0 0 / 10%)
}