body a {
	text-decoration: none;
}
/* Landing page stuff */
.front-container {
	position: relative;
	height: 89%;
	width:75%;
	margin: 0 auto;
	font-size: 16px;
}
/* Landing page header */
.front-head-wrapper {
	margin-top: 5%;
	text-align:center;
}
.front-sitename h1 {
	margin: 0;
	padding: 0;
	font-size: 2.2vw;
}
.front-slogan h2 {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-weight: normal;
	font-size: 1.2vw;
}
/* Landing page content */
.front-content-wrapper {
	margin-top: 3%;
	display: flex;
	height: 80%;
}
.front-site-info-wrapper {
	flex: 3;
	display: inline;
	border-radius: 10px;
	border: thin solid;
	height: 100%;
}
.front-board-list-wrapper {
	flex: 2;
}
/* Landing page site info */
.front-site-info {
	display: flex;
	flex-direction: row;
}
.front-navbar {
	padding: 15px 15px 0 15px;
	flex: 1.5;
}
.front-navbar button {
	display: block;
	width: 100%;
	font-size: 1.4vw;
	text-align: center;
	font-weight: bold;
	border: thin solid;
	margin-bottom: 10px;
	cursor: pointer;
}
.front-recent-posts {
	flex: 3;
	padding-right: 15px;
}
.front-recent-posts h2 {
	margin: 0;
	margin-top: 6px;
	text-align: center;
	border-bottom: thin dashed;
	font-size: 1.2vw;
}
.front-recent-posts-posts {
	padding-bottom: 5px;
	font-size: .8vw;
}
.front-recent-posts-posts:first-of-type {
	margin-top: 5px;
}
.front-site-stats {
	flex: 3;
	padding-right: 15px;
}
.front-site-stats h2 {
	margin: 0;
	margin-top: 6px;
	text-align: center;
	border-bottom: thin dashed;
	font-size: 1.2vw;
}
.front-site-stats-stats th {
	font-size: 1vw;
	text-align: left;
}
.front-site-stats-stats td {
	font-size: 1vw;
	padding-left: 5em;
}
.front-site-content {
	width: 100%;
	height: 74%;
	margin-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}
.front-site-content-content {
	padding-left: 10px;
	font-size: .9vw;
}
.front-site-content-content h3 {
	font-weight: bold;
	font-size: .8vw;
}
.front-site-content-content-switch {
	text-align:center; 
	font-size: .9vw;
}
.front-site-content-content-switch button {
	border-radius: 25px;
	font-size: .65vw;
	cursor: pointer;
}
/* Landing page boardlist */
.front-board-list {
	width: 65%;
	height: 100%;
	margin-left: 10%;
	border-radius: 10px;
	border: thin solid;
	overflow-y: auto;
	overflow-x: hidden;
}
.front-board-list h2 {
	margin: 0;
	margin-top: 23%;
	text-align: center;
	border-bottom: thin dashed;
	font-size: 1.2vw;
	margin-bottom: 15px;
}
.front-board-list th {
	font-size: .8vw;
	text-align: left;
}
.front-board-list td {
	font-size: .8vw;
	padding-left: 3em;
}
.front-board-list td a {
	text-decoration:none;
}
.front-board-list-list h3 {
	padding-bottom:0;
	margin-bottom:0;
	display: inline;
}
.front-board-list-list li {
	font-size: 1vw;
	float: left;
	width: 50%;
	list-style-position: inside;
	list-style-type: none;
	display: inline-table;
}
.front-board-list-list ol {
	display: unset;
	list-style-type: unset;
	margin-block-start: unset;
	margin-block-end: unset;
	margin-inline-start: unset;
	margin-inline-end: unset;
	padding-inline-start: unset;
}
.front-board-list-list nav {
	padding:0;
	margin: 0;
}
.front-board-list-list i {
	font-size: .6vw;
}
.front-board-list-list-fr {
	float: right;
	padding-right: 5px;
	cursor: pointer;
}
.front-board-list-list-wrap {
	font-size: 1vw;
	font-weight: bold;
	margin-top: 10px;
}
.front-board-list-list li:hover {
	cursor: pointer;
}
.front-board-list-list a:link {
	text-decoration: none;
}
.front-board-list-list a, a:visited {
  color: inherit;
}
.front-board-list-list-clear {
	clear: both;
}
/* Landing page footer */
.front-footer {
	position: fixed;
	z-index: 1;
	height: 3%;
	width: 100%;
	left: 0%;
	top: 97%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* End Landing page stuff */

/* Begin Board page stuff */
.board-posts-newpost-wrapper {
	display: none;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.board-posts-newpost {
    width: 35%;
    height: 50%;
    margin: 10% auto;
    border-radius: 10px;
}
.board-posts-newpost-fr {
	float: right;
    margin-top: .3%;
	margin-right: .3%;
}
.board-posts-newpost-box {
	width: 99%;
	height: 95%;
	margin-left: .5%;
	display: inline-block;
}
.board-posts-newpost-box-flex {
	display: flex;
}
.board-posts-newpost-box-flex-flexchild {
	flex: 1;
}
.fa-circle-xmark {
	cursor: pointer;
}
.fa-text-height {
	cursor: pointer;
}
.fa-bold {
	cursor: pointer;
}
.fa-underline {
	cursor: pointer;
}
.fa-italic {
	cursor: pointer;
}
.fa-list {
	cursor: pointer;
}
.fa-list-ol {
	cursor: pointer;
}
.fa-align-center {
	cursor: pointer;
}
.fa-code {
	cursor: pointer;
}
.fa-image {
	cursor: pointer;
}
.fa-photo-film {
	cursor: pointer;
}
.fa-youtube {
	cursor: pointer;
}
.fa-link {
	cursor: pointer;
}
.board-navigation {
	width: 100%;
	height: 3%;
	top: 0;
	left: 0;
	z-index: 1;
	position: fixed;
	display: flex;
}
.board-navigation-home {
	display: flex;
	margin-left: .8%;
	margin-right: .3%;
	align-items: center;
	justify-content:center;
}
.board-navigation-home button {
	border-radius: 10%;
	border-style: solid;
	border-width: thin;
	text-align: center;
	height: 80%;
	font-size: .8vw;
}
.board-navigation-style {
	align-items: center;
	justify-content: center;
	margin-right: .9%;
}
.board-navigation-style button {
	border-radius: 10%;
	border-style: solid;
	border-width: thin;
	text-align: center;
	height: 80%;
	font-size: .8vw;
	margin-top: 6%;
}
.board-navigation-section {
	align-items: center;
	justify-content:center;
	margin-right: .3%;
}
.board-navigation-section button {
	border-radius: 10%;
	border-style: solid;
	border-width: thin;
	text-align: center;
	height: 80%;
	font-size: .8vw;
	margin-top: 7%;
}
.board-navigation-dropdown {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	border-radius: 3%;
	font-size: .8vw;
	align-self: flex-start;
	justify-self: flex-end;
}
.board-navigation-dropdown a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.board-container {
	position: relative;
	height: 100%;
	width:75%;
	margin: 0 auto;
	font-size: 16px;
}
.board-wrapper {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
/* Board page header */
.board-head-wrapper {
	margin-top: 5%;
	text-align:center;
}
.board-head-header h1 {
	margin: 0;
	padding: 0;
	font-size: 2.2vw;
	margin-bottom: 5%;
}
/* End board page header */
/* Board page posts */
.board-posts {
	width: 75%;
	margin: 0 auto;
}
.board-posts-thread {
	margin: 0 auto;
	width: 60%;	
}
.board-posts-thread-header {
	border-top-left-radius: 3%;
	border-top-right-radius: 3%;
}
.board-posts-thread-header h2 {
	font-weight: bold;
	font-size: .9vw;
	margin: 0;
	padding: 0;
	display: inline;
}
.board-posts-thread-header-date {
	font-size: .7vw;
	display: inline;
}
.board-posts-thread-header-fr {
	margin-top: .3%;
    margin-right: .5%;
    float: right;
	font-size: .7vw;
}
.fa-flag {
	cursor: pointer;
}
.fa-reply {
	cursor: pointer;
}
.fa-trash-can {
	cursor: pointer;
}
.board-posts-thread-header-postby {
	font-size: .8vw;
	display: inline;
}
.board-posts-thread-header-postname {
	font-size: .8vw;
	display: inline;
	font-style: italic;
}
.board-posts-thread-post-message {
	width: 100%;
    display: flex;
    flex-direction: column;
}
.board-posts-thread-post-image {
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	max-width: 512px;
	max-height: 512px;
}
.board-posts-thread-post-image img {
	width: 100%;
	height: 100%;
}
.board-posts-thread-post-image iframe {
	max-width: 100%;
	max-height: 100%;
	border: 0;
}
.board-posts-thread-post-replies {
	font-size: .7vw;	
}
.fa-comments {
	cursor: pointer;
}
.fa-comment {
	cursor: pointer;
}
.board-posts-clear {
	clear: both; 
	height: 60px;	
}
/* End board page posts */
/* Board page footer */
.board-footer {
	position: fixed;
	z-index: 1;
	height: 3%;
	width: 100%;
	left: 0%;
	top: 97%;
	display: inline;
}
.board-footer-center {
	text-align: center;
	font-size: 1vw;
	margin-top: .2%;
	cursor: pointer;
}
.board-footer-fr {
	float: right;
	margin-right: 1%;
    margin-top: -1%;
	font-size: .65vw;
}